<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Quote and Author Addition Session"> <!-- thread-count="5"  -->
    <classes>
      <class name="com.test.tests.TestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->